<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>CANlog</title>
    <link href="monitor.css" rel="stylesheet">
    <script src="cash.js"></script>
    <script src="mustache.js"></script>

    <script id="templateRaw" type="x-tmpl-mustache">
      <div class="tr {{trClass}} ID{{idhex}}" data-pkt="{{json}}" {{#hide}}style="display: none"{{/hide}}>
        <div class="td colDir">{{#out}}&#x21E6;{{/out}}{{^out}}&#x21E8;{{/out}}</div>
        <div class="td colMillis colRaw">{{millis}}</div>
        <div class="td colId colRaw">0x{{idhex}}</div>
        <div class="td colRr colRaw">{{rr}}</div>
        <div class="td colDl colRaw">{{dl}}</div>
        <div class="td colData colRaw">
          <div class="resend">&#9850;</div>
          {{dataOut}}
        </div>
      </div>
  </script>

  <script id="templateDecoded" type="x-tmpl-mustache">
    <div class="tr {{trClass}} ID{{idhex}}" data-pkt="{{json}}" {{#hide}}style="display: none"{{/hide}}>
      <div class="td colDir">{{#out}}&#x21E6;{{/out}}{{^out}}&#x21E8;{{/out}}</div>
      <div class="td colMillis colDecoded">{{seconds}}</div>
      <div class="td colId colDecoded">{{type}}</div>
      <div class="td colRr colDecoded">{{#rr}}&check;{{/rr}}</div>
      <div class="td colData colDecoded">
        <div class="resend">&#9850;</div>
        {{decoded}}
      </div>
    </div>
  </script>

  <script id="templateMacro" type="x-tmpl-mustache">
    {{#section}}<div class="macroSection">{{section}}</div>{{/section}}
    {{^section}}<button class="btnMacro" data-json="{{json}}">{{label}}</button>{{/section}}
  </script>
</head>
  <body>
    <div id="tableRaw">
      <div class="thead">
        <div class="colDir"><div class="connected"></div></div>
        <div class="colMillis colRaw">Millis</div>
        <div class="colId colRaw">ID</div>
        <div class="colRr colRaw">RR</div>
        <div class="colDl colRaw">DL</div>
        <div class="colData colRaw">
          <button class="btnToggleView" data-decode="1">Decode</button>
          <div class="autoScroll">
            <label><input type="checkbox" value="1" checked class="cbAutoScroll">Autoscroll</label>
            <label><input type="checkbox" value="1" class="cbFilter">Filter</label>
            <label><input type="checkbox" value="1" checked class="cbHideBatt">Hide Batt</label>
            <label><input type="checkbox" value="1" class="cbLog">Log</label>
            <button class="btnClear">Clear</button>
          </div>
          <span class="fillData">Data</span>
        </div>
      </div>
      <div class="tbody syncscroll" name="tbody" id="tableRaw_tbody"></div>
    </div>

    <div id="tableDecoded">
      <div class="thead">
        <div class="colDir"><div class="connected"></div></div>
        <div class="colMillis colDecoded">Seconds</div>
        <div class="colId colDecoded">ID</div>
        <div class="colRr colDecoded">RR</div>
        <div class="colData colDecoded">
          <button class="btnToggleView" data-decode="0">Raw</button>
          <div class="autoScroll">
            <span id="rowCount"></span>
            <label><input type="checkbox" value="1" checked class="cbAutoScroll">Autoscroll</label>
            <label><input type="checkbox" value="1" class="cbFilter">Filter</label>
            <label><input type="checkbox" value="1" checked class="cbHideBatt">Hide Batt</label>
            <label><input type="checkbox" value="1" class="cbLog">Log</label>
            <button class="btnClear">Clear</button>
          </div>
          <span class="fillData">Data</span>
        </div>
      </div>
      <div class="tbody syncscroll" name="tbody" id="tableDecoded_tbody"></div>
    </div>

    <div id="filterForm">
      Filter ID: 0x<input name="filterId" size="6" />
      Mask: 0x<input name="filterMask" size="6" />
      <button id="filterBtn">Apply</button>
    </div>

    <div id="sendForm">
      ID: <select name="id">
      </select>
      <label><input type="checkbox" name="rr" value="1">RR</label>
      Data: <input name="data" size="42">
      <button id="sendBtn">&#x140A; Send</button>
      <!-- <button id="b1Btn">&#x1405; B1</button>
      <button id="b2Btn">&#x1405; B2</button> -->
      <button id="btnToggleMacros">Macros</button>
    </div>

    <div id="macroPanel">
    </div>

    <script src="CAN_IDS.js"></script>
    <script src="TS_GROUPS.js"></script>
    <script src="macros.js"></script>
    <script src="decoder.js"></script>
    <script src="monitor.js"></script>
  </body>
</html>
